### IDE Settings (IntelliJ IDEA) ###
.idea/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings/
.vscode/

### Build Artifacts (Maven) ###
# Игнорирует папки target во всех подпапках (Auth и User сервисах)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log
logs/

### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Local Environment & Temp ###
.env
.env.local
*.tmp
*.temp

User-service = Payment.txt

### Docker ###
# postgres_data/
# mongo_data/

# Игнорировать сами исполняемые файлы Maven Wrapper во всех папках
**/mvnw
**/mvnw.cmd
**/.mvn/

# Игнорировать папки сборки во всех модулях (не только в корне)
**/target/